*{ margin:0;
   padding: 0;
   }

body {
  background-size:cover;
}

/*this goes for all*/header {
     text-align: center;
     background: url('25.jpg');/*25.jpg*/
     height: 100vh;
     background-size: cover;
     color: black;
     background-position: center;
   }

   }
   h1 {
     font-size: 70px;
     letter-spacing: 1px !important;
   }
/*img {
     margin: 40px 0px 0px 0px;
     border: 7px solid white;
     border-radius: 20px; may not be needed and not sure what it is referring to*/
   }
   ul  {
     padding: 10px;
     background: white;
   }
   ul li {
     display: inline;
     padding: 0px 10px 0px 10px;
     opacity: .8;
   }

   article {
     max-width: 500px;
     padding: 20px;
     margin: 0 auto;
   }
