* {
  margin: 0;
  padding: 0;
}
.navbar-brand img {
  height: auto;
  width: auto;
  max-height: 72px;
  max-width: 200px;
}
body {
  background-size: cover;
}
header {
  text-align: center;
  background: #FF4136;
  height: 100vh;
  background-size: cover;
  color: black;
  background-position: center;
}
h1 {
  font-size: 70px;
  letter-spacing: 1px !important;
}
ul {
  padding: 10px;
  background: white;
}
ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
  opacity: 0.8;
}
article {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
}
